<a href="https://colab.research.google.com/github/sanzgiri/wft_scraper/blob/master/wholefoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import requests
import urllib.parse
import json

In [20]:
store_id = 10327 ### Get this by changeing zipcode in product search and looking for store in the URL
sort = "relevance" ### Other options are "price" and "brand"
category = "beauty"
subcategory = "cosmetics"

category_dict = {"ns": "category", "key": category, "value": category}
subcategory_dict = {"ns": "subcategory", "key": subcategory, "value": f"{category}.{subcategory}"}
filters = [category_dict, subcategory_dict]
enc_filters = urllib.parse.quote(str(filters)).replace("%27","%22")
url = f"https://products.wholefoodsmarket.com/api/search?sort={sort}&store={store_id}&skip=0&filters={enc_filters}"

In [21]:
response = requests.get(url)
product_dict = json.loads(response.text)["list"]
df = pd.DataFrame.from_dict(product_dict)

In [22]:
df.head()

                        _id  ...                                              store
0  5eb9df6e82ae020c38587eb6  ...  {'available': True, 'price': 8.99, 'basePrice'...
1  5eb9e0a5fb741f0d61bc8f27  ...  {'available': True, 'price': 3.99, 'basePrice'...
2  5eb9df6982ae020c38581fda  ...  {'available': True, 'price': 9.99, 'basePrice'...
3  5eb9dcebfbf99909b9154b3a  ...  {'available': True, 'price': 1.99, 'basePrice'...
4  5eb9dcebfbf99909b91558e2  ...  {'available': True, 'price': 1.99, 'basePrice'...

[5 rows x 10 columns]

In [23]:
store_url = "https://products.wholefoodsmarket.com/api/data/stores"
response = requests.get(store_url)
store_dict = json.loads(response.text)
df_store = pd.DataFrame.from_dict(store_dict)

In [24]:
df_store

                   state                                               list
0                Alabama  [{'key': 10629, 'state': 'Alabama', 'city': 'H...
1                Arizona  [{'key': 10476, 'state': 'Arizona', 'city': 'P...
2               Arkansas  [{'key': 10551, 'state': 'Arkansas', 'city': '...
3             California  [{'key': 10396, 'state': 'California', 'city':...
4               Colorado  [{'key': 10218, 'state': 'Colorado', 'city': '...
5            Connecticut  [{'key': 10366, 'state': 'Connecticut', 'city'...
6   District of Columbia  [{'key': 10414, 'state': 'District of Columbia...
7                Florida  [{'key': 10516, 'state': 'Florida', 'city': 'A...
8                Georgia  [{'key': 10687, 'state': 'Georgia', 'city': 'D...
9                 Hawaii  [{'key': 10363, 'state': 'Hawaii', 'city': 'Ho...
10                 Idaho  [{'key': 10284, 'state': 'Idaho', 'city': 'Boi...
11              Illinois  [{'key': 10568, 'state': 'Illinois', 'city': '...
12               Indiana  [{'key': 10404, 'state': 'Indiana', 'city': 'C...
13                  Iowa  [{'key': 10460, 'state': 'Iowa', 'city': 'West...
14                Kansas  [{'key': 10410, 'state': 'Kansas', 'city': 'Ov...
15              Kentucky  [{'key': 10577, 'state': 'Kentucky', 'city': '...
16             Louisiana  [{'key': 10528, 'state': 'Louisiana', 'city': ...
17                 Maine  [{'key': 10291, 'state': 'Maine', 'city': 'Por...
18              Maryland  [{'key': 10228, 'state': 'Maryland', 'city': '...
19         Massachusetts  [{'key': 10371, 'state': 'Massachusetts', 'cit...
20              Michigan  [{'key': 10167, 'state': 'Michigan', 'city': '...
21             Minnesota  [{'key': 10419, 'state': 'Minnesota', 'city': ...
22           Mississippi  [{'key': 10486, 'state': 'Mississippi', 'city'...
23              Missouri  [{'key': 10535, 'state': 'Missouri', 'city': '...
24              Nebraska  [{'key': 10493, 'state': 'Nebraska', 'city': '...
25                Nevada  [{'key': 10174, 'state': 'Nevada', 'city': 'La...
26         New Hampshire  [{'key': 10617, 'state': 'New Hampshire', 'cit...
27            New Jersey  [{'key': 10639, 'state': 'New Jersey', 'city':...
28            New Mexico  [{'key': 10144, 'state': 'New Mexico', 'city':...
29              New York  [{'key': 10709, 'state': 'New York', 'city': '...
30        North Carolina  [{'key': 10351, 'state': 'North Carolina', 'ci...
31                  Ohio  [{'key': 10673, 'state': 'Ohio', 'city': 'Akro...
32              Oklahoma  [{'key': 10304, 'state': 'Oklahoma', 'city': '...
33                Oregon  [{'key': 10654, 'state': 'Oregon', 'city': 'La...
34          Pennsylvania  [{'key': 10566, 'state': 'Pennsylvania', 'city...
35          Rhode Island  [{'key': 10254, 'state': 'Rhode Island', 'city...
36        South Carolina  [{'key': 10201, 'state': 'South Carolina', 'ci...
37             Tennessee  [{'key': 10409, 'state': 'Tennessee', 'city': ...
38                 Texas  [{'key': 10665, 'state': 'Texas', 'city': 'Ced...
39                  Utah  [{'key': 10646, 'state': 'Utah', 'city': 'Park...
40              Virginia  [{'key': 10042, 'state': 'Virginia', 'city': '...
41            Washington  [{'key': 10153, 'state': 'Washington', 'city':...
42             Wisconsin  [{'key': 10043, 'state': 'Wisconsin', 'city': ...

In [25]:
df_store[df_store.state=='Oregon']['list'].iloc[0]

[{'address': '11 S State St',
  'city': 'Lake Oswego',
  'folder': 'lakeoswego',
  'isPrime': False,
  'key': 10654,
  'name': '365 Lake Oswego',
  'state': 'Oregon',
  'tlc': 'LKO',
  'zip': '97034'},
 {'address': '2610 NE Hwy 20',
  'city': 'Bend',
  'folder': 'bend',
  'isPrime': False,
  'key': 10407,
  'name': 'Bend',
  'state': 'Oregon',
  'tlc': 'BND',
  'zip': '97701'},
 {'address': '7380 SW Bridgeport Rd',
  'city': 'Tigard',
  'folder': 'tigard',
  'isPrime': False,
  'key': 10266,
  'name': 'Bridgeport',
  'state': 'Oregon',
  'tlc': 'BRD',
  'zip': '97224'},
 {'address': '353 E Broadway',
  'city': 'Eugene',
  'folder': 'eugene',
  'isPrime': False,
  'key': 10294,
  'name': 'Eugene',
  'state': 'Oregon',
  'tlc': 'EUG',
  'zip': '97401'},
 {'address': '3535 NE 15th Ave',
  'city': 'Portland',
  'folder': 'fremont',
  'isPrime': False,
  'key': 10375,
  'name': 'Fremont - Oregon',
  'state': 'Oregon',
  'tlc': 'FMT',
  'zip': '97212'},
 {'address': '12220 SW Scholls Ferry Rd',
  'city': 'Tigard',
  'folder': 'greenway',
  'isPrime': False,
  'key': 10537,
  'name': 'Greenway',
  'state': 'Oregon',
  'tlc': 'GNW',
  'zip': '97223'},
 {'address': '4301 NE Sandy Blvd',
  'city': 'Portland',
  'folder': 'sandy',
  'isPrime': False,
  'key': 10243,
  'name': 'Hollywood',
  'state': 'Oregon',
  'tlc': 'HWD',
  'zip': '97213'},
 {'address': '2825 East Burnside St',
  'city': 'Portland',
  'folder': 'laurelhurst',
  'isPrime': False,
  'key': 10402,
  'name': 'Laurelhurst',
  'state': 'Oregon',
  'tlc': 'LLH',
  'zip': '97214'},
 {'address': '1210 NW Couch St',
  'city': 'Portland',
  'folder': 'pearl',
  'isPrime': False,
  'key': 10148,
  'name': 'Pearl District Portland',
  'state': 'Oregon',
  'tlc': 'PRT',
  'zip': '97209'},
 {'address': '9940 NE Cornell Rd',
  'city': 'Hillsboro',
  'folder': 'tanasbourne',
  'isPrime': False,
  'key': 10327,
  'name': 'Tanasbourne',
  'state': 'Oregon',
  'tlc': 'TAN',
  'zip': '97124'}]