<a href="https://colab.research.google.com/github/sanzgiri/wft_scraper/blob/master/wholefoods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
#!pip install census us

Requirement already satisfied: census in /usr/local/lib/python3.6/dist-packages (0.8.17)
Requirement already satisfied: us in /usr/local/lib/python3.6/dist-packages (2.0.2)
Requirement already satisfied: requests>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from census) (2.23.0)
Requirement already satisfied: jellyfish==0.6.1 in /usr/local/lib/python3.6/dist-packages (from us) (0.6.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->census) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->census) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->census) (2.10)

In [109]:
import pandas as pd
import requests
import urllib.parse
import json
import re
import census us

In [153]:
store_id = 'englewood' ### Get this by changeing zipcode in product search and looking for store in the URL
sort = "relevance" ### Other options are "price" and "brand"
category = "beauty"
subcategory = "cosmetics"

category_dict = {"ns": "category", "key": category, "value": category}
subcategory_dict = {"ns": "subcategory", "key": subcategory, "value": f"{category}.{subcategory}"}
filters = [category_dict, subcategory_dict]
enc_filters = urllib.parse.quote(str(filters)).replace("%27","%22")
url = f"https://products.wholefoodsmarket.com/api/search?sort={sort}&store={store_id}&skip=0&filters={enc_filters}"
print(url)

https://products.wholefoodsmarket.com/api/search?sort=relevance&store=englewood&skip=0&filters=%5B%7B%22ns%22%3A%20%22category%22%2C%20%22key%22%3A%20%22beauty%22%2C%20%22value%22%3A%20%22beauty%22%7D%2C%20%7B%22ns%22%3A%20%22subcategory%22%2C%20%22key%22%3A%20%22cosmetics%22%2C%20%22value%22%3A%20%22beauty.cosmetics%22%7D%5D

In [154]:
response = requests.get(url)
product_dict = json.loads(response.text)["list"]
df_products = pd.DataFrame.from_dict(product_dict)

In [155]:
df_products.head()

                        _id  ... store
0  5eb9e0a5fb741f0d61bc8f2d  ...  None
1  5eb9df6e82ae020c38587eb6  ...  None
2  5fac7f6152fed6366dce7eae  ...  None
3  5eb9e0a5fb741f0d61bc8f27  ...  None
4  5ebb1ad2fc937a3894b52609  ...  None

[5 rows x 10 columns]

In [113]:
store_url = "https://products.wholefoodsmarket.com/api/data/stores"
response = requests.get(store_url)
store_dict = json.loads(response.text)
df_store = pd.DataFrame.from_dict(store_dict)

In [114]:
df_store

                   state                                               list
0                Alabama  [{'key': 10629, 'state': 'Alabama', 'city': 'H...
1                Arizona  [{'key': 10476, 'state': 'Arizona', 'city': 'P...
2               Arkansas  [{'key': 10551, 'state': 'Arkansas', 'city': '...
3             California  [{'key': 10396, 'state': 'California', 'city':...
4               Colorado  [{'key': 10218, 'state': 'Colorado', 'city': '...
5            Connecticut  [{'key': 10366, 'state': 'Connecticut', 'city'...
6   District of Columbia  [{'key': 10651, 'state': 'District of Columbia...
7                Florida  [{'key': 10715, 'state': 'Florida', 'city': 'F...
8                Georgia  [{'key': 10687, 'state': 'Georgia', 'city': 'D...
9                 Hawaii  [{'key': 10363, 'state': 'Hawaii', 'city': 'Ho...
10                 Idaho  [{'key': 10284, 'state': 'Idaho', 'city': 'Boi...
11              Illinois  [{'key': 10568, 'state': 'Illinois', 'city': '...
12               Indiana  [{'key': 10404, 'state': 'Indiana', 'city': 'C...
13                  Iowa  [{'key': 10460, 'state': 'Iowa', 'city': 'West...
14                Kansas  [{'key': 10538, 'state': 'Kansas', 'city': 'Ol...
15              Kentucky  [{'key': 10577, 'state': 'Kentucky', 'city': '...
16             Louisiana  [{'key': 10528, 'state': 'Louisiana', 'city': ...
17                 Maine  [{'key': 10291, 'state': 'Maine', 'city': 'Por...
18              Maryland  [{'key': 10228, 'state': 'Maryland', 'city': '...
19         Massachusetts  [{'key': 10371, 'state': 'Massachusetts', 'cit...
20              Michigan  [{'key': 10167, 'state': 'Michigan', 'city': '...
21             Minnesota  [{'key': 10419, 'state': 'Minnesota', 'city': ...
22           Mississippi  [{'key': 10486, 'state': 'Mississippi', 'city'...
23              Missouri  [{'key': 10535, 'state': 'Missouri', 'city': '...
24              Nebraska  [{'key': 10493, 'state': 'Nebraska', 'city': '...
25                Nevada  [{'key': 10174, 'state': 'Nevada', 'city': 'La...
26         New Hampshire  [{'key': 10617, 'state': 'New Hampshire', 'cit...
27            New Jersey  [{'key': 10639, 'state': 'New Jersey', 'city':...
28            New Mexico  [{'key': 10144, 'state': 'New Mexico', 'city':...
29              New York  [{'key': 10709, 'state': 'New York', 'city': '...
30        North Carolina  [{'key': 10351, 'state': 'North Carolina', 'ci...
31                  Ohio  [{'key': 10673, 'state': 'Ohio', 'city': 'Akro...
32              Oklahoma  [{'key': 10304, 'state': 'Oklahoma', 'city': '...
33                Oregon  [{'key': 10654, 'state': 'Oregon', 'city': 'La...
34          Pennsylvania  [{'key': 10566, 'state': 'Pennsylvania', 'city...
35          Rhode Island  [{'key': 10254, 'state': 'Rhode Island', 'city...
36        South Carolina  [{'key': 10201, 'state': 'South Carolina', 'ci...
37             Tennessee  [{'key': 10409, 'state': 'Tennessee', 'city': ...
38                 Texas  [{'key': 10665, 'state': 'Texas', 'city': 'Ced...
39                  Utah  [{'key': 10646, 'state': 'Utah', 'city': 'Park...
40              Virginia  [{'key': 10042, 'state': 'Virginia', 'city': '...
41            Washington  [{'key': 10153, 'state': 'Washington', 'city':...
42             Wisconsin  [{'key': 10043, 'state': 'Wisconsin', 'city': ...

In [115]:
df_store[df_store.state=='Oregon']['list'].iloc[0]

[{'address': '11 S State St',
  'city': 'Lake Oswego',
  'folder': 'lakeoswego',
  'isPrime': False,
  'key': 10654,
  'name': '365 Lake Oswego',
  'state': 'Oregon',
  'tlc': 'LKO',
  'zip': '97034'},
 {'address': '2610 NE Hwy 20',
  'city': 'Bend',
  'folder': 'bend',
  'isPrime': False,
  'key': 10407,
  'name': 'Bend',
  'state': 'Oregon',
  'tlc': 'BND',
  'zip': '97701'},
 {'address': '7380 SW Bridgeport Rd',
  'city': 'Tigard',
  'folder': 'tigard',
  'isPrime': False,
  'key': 10266,
  'name': 'Bridgeport',
  'state': 'Oregon',
  'tlc': 'BRD',
  'zip': '97224'},
 {'address': '353 E Broadway',
  'city': 'Eugene',
  'folder': 'eugene',
  'isPrime': False,
  'key': 10294,
  'name': 'Eugene',
  'state': 'Oregon',
  'tlc': 'EUG',
  'zip': '97401'},
 {'address': '3535 NE 15th Ave',
  'city': 'Portland',
  'folder': 'fremont',
  'isPrime': False,
  'key': 10375,
  'name': 'Fremont - Oregon',
  'state': 'Oregon',
  'tlc': 'FMT',
  'zip': '97212'},
 {'address': '12220 SW Scholls Ferry Rd',
  'city': 'Tigard',
  'folder': 'greenway',
  'isPrime': False,
  'key': 10537,
  'name': 'Greenway',
  'state': 'Oregon',
  'tlc': 'GNW',
  'zip': '97223'},
 {'address': '4301 NE Sandy Blvd',
  'city': 'Portland',
  'folder': 'sandy',
  'isPrime': False,
  'key': 10243,
  'name': 'Hollywood',
  'state': 'Oregon',
  'tlc': 'HWD',
  'zip': '97213'},
 {'address': '2825 East Burnside St',
  'city': 'Portland',
  'folder': 'laurelhurst',
  'isPrime': False,
  'key': 10402,
  'name': 'Laurelhurst',
  'state': 'Oregon',
  'tlc': 'LLH',
  'zip': '97214'},
 {'address': '1210 NW Couch St',
  'city': 'Portland',
  'folder': 'pearl',
  'isPrime': False,
  'key': 10148,
  'name': 'Pearl District Portland',
  'state': 'Oregon',
  'tlc': 'PRT',
  'zip': '97209'},
 {'address': '9940 NE Cornell Rd',
  'city': 'Hillsboro',
  'folder': 'tanasbourne',
  'isPrime': False,
  'key': 10327,
  'name': 'Tanasbourne',
  'state': 'Oregon',
  'tlc': 'TAN',
  'zip': '97124'}]

In [116]:
df_store.state.nunique()

43

In [117]:
wf_states = list(df_store.state.unique())
wf_states

['Alabama',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Washington',
 'Wisconsin']

In [118]:
wf_store_unflat = [df_store[df_store.state==x]['list'] for x in wf_states]
wf_store_flat = [item for sublist in wf_store_unflat for item in sublist]
wf_stores =  [item for sublist in wf_store_flat for item in sublist]
len(wf_stores)

507

In [138]:
zipcodes = [x['zip'] for x in wf_stores]
# keep only first five digits of 5+4 style zip codes
zipcodes = [re.match('(\d\d\d\d\d)-?(\d\d\d\d)?', x).groups()[0] for x in zipcodes]

In [156]:
storename = [x['folder'] for x in wf_stores]
storecode = [x['key'] for x in wf_stores]
storename_dict = dict(zip(zipcodes, storename))
storecode_dict = dict(zip(zipcodes, storecode))

In [132]:
import re
m = re.match('(\d\d\d\d\d)-?(\d\d\d\d)?', zipcodes[0])
m.groups()[0]

'35244'

In [120]:
c = Census("c27c0e0c57a51e3bfef9c9da1fc8f137e3154114")

In [121]:
pop_cat_dict = {'Total_Pop': 'B01003_001E',
                'Total_Race': 'B02001_001E',
                'White': 'B02001_002E',
                'Black': 'B02001_003E',
                'Native': 'B02001_004E',
                'Asian': 'B02001_005E',
                'Pacific': 'B02001_006E',
                'Other': 'B02001_007E',
                'Asian_Indian': 'B02015_002E'}

In [122]:
def get_pop_cat(cat, zip):
  cat_code = pop_cat_dict[cat]
  return c.acs5.zipcode(cat_code, zip)[0][cat_code]

In [123]:
def get_pop(zip):
  zip_dict = {}
  for cat in pop_cat_dict.keys():
    cat_code = pop_cat_dict[cat]
    zip_dict[cat] =  c.acs5.zipcode(cat_code, zip)[0][cat_code]
  return zip_dict

In [124]:
get_pop(97229)

{'Asian': 16031.0,
 'Asian_Indian': 5515.0,
 'Black': 1092.0,
 'Native': 152.0,
 'Other': 1344.0,
 'Pacific': 220.0,
 'Total_Pop': 67339.0,
 'Total_Race': 67339.0,
 'White': 44846.0}

In [125]:
df = pd.DataFrame()
cols = pop_cat_dict.keys()
my_cats = ['White', 'Black', 'Native', 'Asian', 'Pacific', 'Other', 'Asian_Indian']
for z in zipcodes:
  try:
    my_dict = get_pop(z)
  except:
    print(f"Error getting data for zipcode {z}")
  dfi = pd.DataFrame.from_dict(my_dict, orient='index').T
  dfi['zipcode'] = z
  for m in my_cats:
    my_col = m+'_pct'
    dfi[my_col] = round(my_dict[m]*100./my_dict['Total_Race'], 2)
  df = df.append(dfi)

Error getting data for zipcode 85750-1949
Error getting data for zipcode 94538-1505
Error getting data for zipcode 91360-3705
Error getting data for zipcode 80123-2217
Error getting data for zipcode 80920-3207
Error getting data for zipcode 33624-1833
Error getting data for zipcode 46545-1007
Error getting data for zipcode 07701-5036
Error getting data for zipcode 11753-2106
Error getting data for zipcode 11249
Error getting data for zipcode 29205-2084

In [126]:
df.head()

   Total_Pop  Total_Race    White  ...  Pacific_pct  Other_pct  Asian_Indian_pct
0    31930.0     31930.0  23111.0  ...         0.00       0.49              3.01
0    23724.0     23724.0  19866.0  ...         0.05       0.67              0.68
0    35591.0     35591.0  23169.0  ...         0.00       0.97              0.53
0    53841.0     53841.0  22584.0  ...         0.00       0.51              1.44
0    17259.0     17259.0  16012.0  ...         0.14       0.57              0.57

[5 rows x 17 columns]

In [139]:
my_fcats = ['zipcode'] + [x+'_pct' for x in my_cats]
df2 = df[my_fcats].copy()
df2.head()

  zipcode  White_pct  Black_pct  ...  Pacific_pct  Other_pct  Asian_Indian_pct
0   35244      72.38      18.17  ...         0.00       0.49              3.01
0   35801      83.74      11.08  ...         0.05       0.67              0.68
0   36608      65.10      30.31  ...         0.00       0.97              0.53
0   36117      41.95      48.83  ...         0.00       0.51              1.44
0   35243      92.77       3.44  ...         0.14       0.57              0.57

[5 rows x 8 columns]

In [142]:
df2.sort_values(by='Black_pct', ascending=False)['zipcode'][:5]

0    60621
0    07088
0    31404
0    43219
0    48201
Name: zipcode, dtype: object

In [141]:
df2.to_csv('wf_zip_census.csv', index=None)

In [128]:
# Total Pop
c.acs5.zipcode('B01003_001E', 11249)

[]

In [57]:
# Race Total
c.acs5.zipcode('B02001_001E', 60608)

[{'B02001_001E': 79205.0, 'zip code tabulation area': '60608'}]

In [58]:
# White
c.acs5.zipcode('B02001_002E', 60608)

[{'B02001_002E': 35332.0, 'zip code tabulation area': '60608'}]

In [59]:
# Black
c.acs5.zipcode('B02001_003E', 60608)

[{'B02001_003E': 13982.0, 'zip code tabulation area': '60608'}]

In [60]:
# Native
c.acs5.zipcode('B02001_004E', 60608)

[{'B02001_004E': 369.0, 'zip code tabulation area': '60608'}]

In [61]:
# Asian
c.acs5.zipcode('B02001_005E', 60608)

[{'B02001_005E': 9577.0, 'zip code tabulation area': '60608'}]

In [67]:
# Pacific
c.acs5.zipcode('B02001_006E', 60608)

[{'B02001_006E': 0.0, 'zip code tabulation area': '60608'}]

In [68]:
# Other
c.acs5.zipcode('B02001_007E', 60608)

[{'B02001_007E': 18321.0, 'zip code tabulation area': '60608'}]

In [69]:
35332+13982+369+9577+0+18321

77581

In [76]:
c.acs5.zipcode('B03002_012E', 60608)

[{'B03002_012E': 40146.0, 'zip code tabulation area': '60608'}]

In [74]:
#Asian Indian: B02015_002E
c.acs5.zipcode('B02015_002E', 97005)

[{'B02015_002E': 138.0, 'zip code tabulation area': '97005'}]